body {
    margin: 0px;
    padding: 0px;
    background-color: #e4ffd1;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

#grid {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    margin-top: 40px;
    border: 1px solid black;
}

.grid-box {
    border: 1px solid black;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    float: left;
    background-color: #ffffff;
}

#buttons {
    margin-top: 30px;
    text-align: center;
}

button {
    width: 150px;
    border: 1px solid #cccccc;
    background-color: #eeeeee;
    padding: 5px 15px;
    font: 15px arial;
    font-weight: bold;
    outline: none;
    color: #555;
    cursor: pointer;
    margin: 0 10px;
}

button:hover {
    box-shadow: 1px 1px 0px 0px #cccccc;
    color: #000000;
}
